<div class="abouttt">
  
   

    <div class='rectangle'>
        <h2 style="float: left; width: 32%;">About Us</h2>
        <h3>Our Vision</h3>
        <p style="color:white;">Helping Dreams Become Reality Through Career and Community</p>
        <h3>Our Mission</h3>
        <p>Through a collaborative career development approach, we engage, educate and empower our students and
            alumni to thrive and successfully contribute to our community, economy and future workforce. We develop
            employer and
            community partnerships to recruit,
            collaborate with and inform our talented students and alumni.</p>
    </div>

    <div class='rectangle2'>
         <h2>Contact Us</h2>
        <h3>Career Center</h3>
        <p>Lassen Hall, Room 1013:
            <br> Mon. – Fri. 8 a.m. – 5 p.m.
            <br><br>Phone: (916) 278-6231
            <br><br>careercenter@csus.edu
        </p>
        <a href="https://www.instagram.com/sacstatecareer/">
            <img src="images/instagram.png" alt="instagram"
                style="position: absolute; left: 12%; bottom: 6%; width:64px;height:64px;">
        </a>
        <a href="https://www.facebook.com/sacstatecareer/">
            <img src="images/facebook.png" alt="facebook"
                style="position: absolute; left: 32%; bottom: 6%; width:64px;height:64px;">
        </a>
        <a href="https://twitter.com/sacstatecareer">
            <img src="images/twitter.png" alt="twitter"
                style="position: absolute; left: 52%; bottom: 6%; width:64px;height:64px;">
        </a>
        <a href="https://www.youtube.com/channel/UCZDFrk6TWpcb-Dm1lfcgoJw">
            <img src="images/youtube.png" alt="youtube"
                style="position: absolute; left: 72%; bottom: 6%; width:64px;height:64px;">
        </a>
    </div>
</div>