{{!-- <h1 class="welcome_head">Welcome to the Volunteer Management Log in and Sign up System</h1> --}}
<div class="cont2">
    <div class="form-box">
        <h1 id="title">Sign Up</h1>
        <form action="">
            <div class="input-group" id="nameField">
                <div class="input-field">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" id="email-login" placeholder="Name">
                </div>
            </div>
            <div class="input-group">
                <div class="input-field">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="Email" id="email-signup" placeholder="Email">
                </div>
            </div>
            <div class="input-group">
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="Password" id="password-login" placeholder="Password">
                </div>
                <p>Lost Password <a href="#"> Click Here ! </a></p>
            </div>
            <div class="btn-field">
                <button type="button" id="signupBtn">Sign up</button>
                <button type="button" class="disable" id="signinbtn">Sign in</button>
            </div>
        </form>
    </div>
</div>







<script src="/javascript/login.js"></script>