.events {
    background-color: #c4b681;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .events .div {
    background-color: #c4b681;
    width: 1280px;
    height: 832px;
    position: relative;
  }
  
  .events .overlap {
    position: absolute;
    width: 1280px;
    height: 108px;
    top: 82px;
    left: 0;
    background-color: #004e38;
  }
  
  .events .rectangle {
    position: absolute;
    width: 1280px;
    height: 108px;
    top: 0;
    left: 0;
    background-color: #004e38;
  }
  
  .events .logo {
    position: absolute;
    width: 115px;
    height: 107px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .events .text-wrapper {
    width: 73px;
    top: 38px;
    left: 569px;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    font-family: "Open Sans", Helvetica;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .text-wrapper-2 {
    position: absolute;
    width: 169px;
    top: 38px;
    left: 1090px;
    font-family: "Open Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .text-wrapper-3 {
    top: 38px;
    left: 962px;
    position: absolute;
    width: 74px;
    font-family: "Open Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .text-wrapper-4 {
    position: absolute;
    width: 212px;
    top: 38px;
    left: 696px;
    font-family: "Open Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .text-wrapper-5 {
    width: 73px;
    top: 37px;
    left: 601px;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    font-family: "Open Sans", Helvetica;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .text-wrapper-6 {
    position: absolute;
    width: 139px;
    top: 37px;
    left: 1120px;
    font-family: "Open Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .text-wrapper-7 {
    top: 37px;
    left: 992px;
    position: absolute;
    width: 74px;
    font-family: "Open Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .text-wrapper-8 {
    position: absolute;
    width: 210px;
    top: 37px;
    left: 728px;
    font-family: "Open Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .text-wrapper-9 {
    width: 127px;
    top: 223px;
    left: 577px;
    font-weight: 800;
    color: #004e38;
    font-size: 35px;
    white-space: nowrap;
    position: absolute;
    font-family: "Open Sans", Helvetica;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .text-wrapper-10 {
    position: absolute;
    width: 295px;
    top: 287px;
    left: 135px;
    font-family: "Open Sans", Helvetica;
    font-weight: 800;
    color: #004e38;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .overlap-group {
    position: absolute;
    width: 1203px;
    height: 55px;
    top: 14px;
    left: 56px;
    background-image: url(./img/rectangle-10.svg);
    background-size: 100% 100%;
  }
  
  .events .text-wrapper-11 {
    position: absolute;
    top: 14px;
    left: 20px;
    opacity: 0.5;
    font-family: "Open Sans", Helvetica;
    font-weight: 300;
    font-style: italic;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .arrow {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 30px;
    left: 18px;
  }
  
  .events .MEET-THE-EMPLOYER {
    position: absolute;
    width: 1081px;
    top: 347px;
    left: 135px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #004e38;
    font-size: 16.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .span {
    font-weight: 800;
  }
  
  .events .text-wrapper-12 {
    font-weight: 700;
  }
  
  .events .text-wrapper-13 {
    font-weight: 700;
    text-decoration: underline;
  }
  
  .events .HERE-TO-CAREER {
    position: absolute;
    width: 1081px;
    top: 568px;
    left: 135px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #004e38;
    font-size: 16.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .p {
    position: absolute;
    width: 1081px;
    top: 456px;
    left: 135px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #004e38;
    font-size: 16.5px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .text-wrapper-14 {
    top: 710px;
    left: 597px;
    font-weight: 800;
    font-size: 20px;
    position: absolute;
    width: 11px;
    font-family: "Open Sans", Helvetica;
    color: #004e38;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .vector {
    left: 651px;
    position: absolute;
    width: 11px;
    height: 11px;
    top: 721px;
  }
  
  .events .text-wrapper-15 {
    top: 715px;
    left: 615px;
    font-weight: 700;
    font-size: 15px;
    white-space: nowrap;
    position: absolute;
    width: 11px;
    font-family: "Open Sans", Helvetica;
    color: #004e38;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .text-wrapper-16 {
    top: 715px;
    left: 633px;
    font-weight: 700;
    font-size: 15px;
    white-space: nowrap;
    position: absolute;
    width: 11px;
    font-family: "Open Sans", Helvetica;
    color: #004e38;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .img {
    left: 579px;
    position: absolute;
    width: 11px;
    height: 11px;
    top: 721px;
  }